.jmh-view {
    display: flex;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.73);
}

.jmh-view aside {
    order: -1;
    min-width: 180px;
    max-width: 200px;
    background-color: #294066;
    padding: 12px 0 12px;
    overflow-y: auto;
}

.jmh-view .class-nav > ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

.jmh-view .class-nav li > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    display: block;
    padding: 0 24px 0 25px;
    line-height: 38px;
}

.jmh-view .class-nav li > a.active {
    border-left: 3px solid #3e5b95;
    background-color: #3c477f;

    color: #fff;
}

.jmh-view .class-nav li > a:hover {
    background: #2d5799;
}

.jmh-view article {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: hidden;
    background-color: rgba(156, 184, 221, 0.25);
}

.jmh-view article > header {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 14px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.65);
}

.jmh-view article header span {
    padding: 0 8px 0 8px;
}

.jmh-view .class-result {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    flex-basis: 0;
    padding: 12px;
}

.jmh-view .class-result .result-block {
    display: block;
    background-color: white;
    padding: 8px;
    overflow: hidden;
}

.jmh-view .class-result .highcharts-container {
    overflow: hidden;
}

@media (min-width: 0px) and  (max-width: 800px) {
    .jmh-view aside {
        display: none;
    }
}

@media (min-width: 800px) {
    .jmh-view .alt-class-nav {
        display: none;
    }
}
